[submodule "TDEngine2/deps/tcpp"]
	path = TDEngine2/deps/tcpp
	url = ../tcpp.git
[submodule "TDEngine2/deps/Wrench"]
	path = TDEngine2/deps/Wrench
	url = ../Wrench.git
[submodule "TDEngine2/tools/ResourcesPacker/deps/Wrench"]
	path = TDEngine2/tools/ResourcesPacker/deps/Wrench
	url = ../Wrench.git
[submodule "TDEngine2/deps/debugbreak"]
	path = TDEngine2/deps/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "TDEngine2/tools/MeshConverter/deps/Wrench"]
	path = TDEngine2/tools/MeshConverter/deps/Wrench
	url = ../Wrench.git
[submodule "TDEngine2/tools/Introspector/source"]
	path = TDEngine2/tools/Introspector/source
	url = ../tde2_introspector.git
[submodule "TDEngine2/deps/argparse"]
	path = TDEngine2/deps/argparse
	url = https://github.com/cofyc/argparse.git
